{% extends 'flask_user/_public_base.html' %}

{% block content %}
<head>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>
</head>
<br>
<div>
<form action="/">
  <button type="submit" class="btn btn-dark">Index (todos)</button>
</form>
  <br>
    <form action="/members">
  <button type="submit" class="btn btn-dark">Biblioteca (users)</button>
</form>
     <form action="/admin">
  <button type="submit" class="btn btn-dark">Nuevo Libro (admin)</button>
</form>
  <br>
</div>
<div class="card" style="width: 18rem; margin-left: 20px; margin-top: 20px">
  <img src="../static/images/cs.png" class="card-img-top" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Ciencia de la computacion</h5>
    <p class="card-text">Jonathan Prieto</p>
    <a href="../static/libros/[Eng][2000][A.Koening] Accelerated C++.pdf" class="btn btn-primary" download>Descargar</a>
  </div>
</div>
{% endblock %}